.px2rem(@name, @px) {
  /* @{name}: @px / 100 * 1rem; */
  /* 无需转换为rem单位 */
  @{name}: @px * 1px;
}
@base-grey: #ececec;
@base-line: #b1b1b1;
@main-color: #2bace9;
@secondary-color: #ff9000;
@red: #F3683F;
@fm: "PingFangSC-Regular";
@fm-semi: "PingFangSC-Semibold";
@fm-light: "PingFangSC-Light";
@fm-thin: "PingFangSC-Thin";
@fm-ultra: "PingFangSC-Ultralight";

* {
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
  line-height: 1.5;
  background-color: #fff;
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  min-width: 900px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: @fm;

  &.semi {
    font-family: @fm-semi;
  }

  &.light {
    font-family: @fm-light;
  }

  &.thin {
    font-family: @fm-thin;
  }

  &.ultra {
    font-family: @fm-ultra;
  }
}

h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

h1 {
  .px2rem(font-size, 24);
}

h2 {
  .px2rem(font-size, 20);
}

h3 {
  .px2rem(font-size, 18);
}

h4 {
  .px2rem(font-size, 16);
}

h5, p {
  .px2rem(font-size, 14);
}

h6 {
  .px2rem(font-size, 12);
}

a {
  text-decoration: none;
  img {
    border: 0;
  }
}

.el-pagination {
  margin: 10px 0;
}
