<template>
  <div style="height: 100%">
    <el-row class="header">
      <el-row class="logo-area">
        <h4>后台-admin-ElementUi-layui</h4>
      </el-row>
      <el-row class="logout-area">
        <el-button class="btn-logout" @click="handleLogout" :loading="loading">登出</el-button>
      </el-row>
    </el-row>
    <el-row class="content">
      <div class="side">
        <sider></sider>
      </div>
      <el-row class="right">
        <div class="main">
          <router-view>
          </router-view>
        </div>
        <div class="footer">
          <h6>©xiaomin</h6>
        </div>
      </el-row>
    </el-row>
  </div>
</template>

<script>
  import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
  import Sider from '../components/Sider'
  import { mapActions } from 'vuex'

  export default {
    name: 'app',
    components: {
      NprogressContainer,
      Sider
    },
    data () {
      return {
        loading: false
      }
    },
    methods: {
      ...mapActions([
        'logout'
      ]),
      handleLogout () {
        this.loading = true
        this.logout().then(() => {
          this.$router.push('/login')
        })
      }
    }
  }
</script>

<style>
  .header {
    height: 50px;
    background-color: #f1f1f1;
  }

  .header .logo-area {
    width: 200px;
    height: 50px;
    float: left;
  }

  .logo-area h4 {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  .header .logout-area {
    width: 200px;
    height: 50px;
    float: right;
    padding: 7px 30px;
    /* background-color: #ccc; */
  }

  .logout-area .btn-logout {
    float: right;
  }

  .content {
    height: calc(100% - 50px);
  }

  .side {
    position: absolute;
    width: 200px;
    height: 100%;
    background-color: #eee;
    overflow: auto;
  }

  .right {
    height: 100%;
    margin-left: 200px;
    overflow: auto;
  }

  .main {
    padding: 20px;
    min-height: 500px;
    background-color: #fff;
  }

  .footer {
    /* margin-left: 200px; */
    height: 50px;
    /* background-color: #c1c1c1; */
    text-align: center;
  }

  .nprogress-container {
    position: fixed !important;
    width: 100%;
    height: 50px;
    z-index: 2048;
    pointer-events: none;
  #nprogress {
  /* $color: #48e79a; */
  .bar {
    background: #48e79a;
  }
  .peg {
    box-shadow: 0 0 10px #48e79a, 0 0 5px #48e79a;
  }
  .spinner-icon {
    border-top-color: #48e79a;
    border-left-color: #48e79a;
  }
  }
  }
</style>
