<template>
  <el-row class="nav-header">
    <el-col :span="12" style="text-align: left">
      <h4><slot></slot></h4>
    </el-col>
    <el-col :span="12">
      <el-breadcrumb separator="/" style="float: right">
        <el-breadcrumb-item :to="{ path: item.path }" v-for="item in list" :key="list.name">{{item.meta.label}}</el-breadcrumb-item>
    <!--     <el-breadcrumb-item>{{routeFrom}}</el-breadcrumb-item>
    <el-breadcrumb-item>{{routeCurrent}}</el-breadcrumb-item> -->
      </el-breadcrumb>
    </el-col>
  </el-row>
</template>
<script>
export default {
  name: '',
  computed: {
    breadcrumbList () {
      // this.$route.matched
    }
  },
  data () {
    return {
      list: null
    }
  },
  methods: {
    getList () {
      let matched = this.$route.matched.filter(item => item.meta.label)
      let first = matched[0]
      if (first && (first.name !== 'Home' || first.path !== '')) {
        matched = [{ name: 'Home', path: '/' }].concat(matched)
      }
      console.log('list: ', matched)
      this.list = matched
    }
  },
  mounted () {
    this.getList()
  },
  watch: {
    $route () {
      // console.log('watch route')
      this.getList()
    }
  }
}
</script>
<style>
.nav-header {
  margin-bottom: 10px;
}
</style>
