<template>
  <div>
    <el-menu :default-openeds="defaultOpened" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" theme="dark" :router="true">
      <!-- <el-menu-item index='item.path' v-for="item in menuItems" :key="item.name" v-if="!item.children.length">
        {{item.meta.label}}
      </el-menu-item> -->
      <el-submenu :index="item.name" v-for="item in menu" :key="item.name">
        <template slot="title">{{item.meta.label}}</template>
        <el-menu-item :index="'/' + child.path"  v-for="child in item.children" :key="child.name" v-if="!child.meta.hideInMenu && !child.meta.outSideLink">{{child.meta.label}}</el-menu-item>
        <a class="el-menu-item" v-if="child.meta.outSideLink" :href="child.meta.link" v-for="child in item.children">{{child.meta.label}}</a>
      </el-submenu>
    </el-menu>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: '',
  data () {
    return {
      defaultOpened: [],
      isReady: false
    }
  },
  computed: {
    ...mapGetters({
      menu: 'menuItems'
    })
  },
  methods: {
    ...mapActions([
      'expandMenu'
    ]),
    handleOpen (key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      console.log(key, keyPath)
    },
    isExpanded (item) {
      return item.meta.expanded
    },
    toggle (index, item) {
      this.expandMenu({
        index: index,
        expanded: !item.meta.expanded
      })
    },
    shouldExpandMatchItem (route) {
      let matched = route.matched
      let lastMatched = matched[matched.length - 1]
      let isParent
      let parent
      if (lastMatched.parent && lastMatched.parent.name === 'Home') {
        parent = lastMatched
        isParent = parent === lastMatched
      } else {
        parent = lastMatched.parent || lastMatched
        isParent = parent === lastMatched
      }
      if (isParent) {
        const p = this.findParentFromMenu(route)
        if (p) {
          parent = p
          isParent = false
        }
      }
      if ('expanded' in parent.meta && !isParent) {
        this.expandMenu({
          item: parent,
          expanded: true
        })
      }
      this.genDefaultOpened()
    },
    findParentFromMenu (route) {
      const menu = this.menu
      for (let i = 0, l = menu.length; i < l; i++) {
        const item = menu[i]
        const k = item.children && item.children.length
        if (k) {
          for (let j = 0; j < k; j++) {
            if (item.children[j].name === route.name) {
              return item
            }
          }
        }
      }
    },
    genDefaultOpened () {
      this.menu.map(item => {
        if (item.meta.expanded) {
          this.defaultOpened.push(item.name)
        }
      })
    }
  },
  created () {
    let route = this.$route
    if (route.name) {
      this.isReady = true
      this.shouldExpandMatchItem(route)
    }
  }
}
</script>
<style>
  .el-menu-item{
    padding-left: 40px !important;
    display: block;
  }
</style>
