<template>
  <el-button class="sort-button" size="small" :type="module.sortField === sort ? 'primary' : ''" @click="handleClick"><slot></slot>
    <i :class="{'el-icon-arrow-up': module.sortMethod === 'ASC', 'el-icon-arrow-down': module.sortMethod === 'DESC' }" v-if="module.sortField === sort"></i>
  </el-button>
</template>
<script>
// import { mapGetters } from 'vuex'

export default {
  name: '',
  props: ['sort', 'module'],
  // computed: {
  //   ...mapGetters({
  //     user: 'user'
  //   })
  // },
  data () {
    return {

    }
  },
  methods: {
    handleClick () {
      this.$emit('click')
    }
  }
}
</script>
<style>
.sort-button {
  width: 100px;
}
</style>
