<template>
  <el-upload
    class="avatar-uploader"
    :action="uploadApi"
    :headers="headers"
    :show-file-list="false"
    :on-preview="handlePreview"
    :on-success="handleAvatarScucess"
    :on-error="handleError"
    :before-upload="beforeAvatarUpload">
    <img v-if="src" :src="src" class="avatar">
    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
  </el-upload>
</template>

<style scoped>
  .avatar-uploader {
    width: 178px;
    /* margin: 0 auto; */
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader:hover {
    border-color: #20a0ff;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
    margin: 0 auto;
  }
</style>

<script>
import api from '@/api'
import { mapGetters } from 'vuex'

export default {
  props: ['imageUrl'],
  computed: {
    imageSrc () {
      return this.imageUrl
    },
    uploadApi () {
      return api.uploadFiles()
    },
    headers () {
      return {
        Authorization: this.token
      }
    },
    ...mapGetters([
      'token'
    ])
  },
  data () {
    return {
      src: ''
    }
  },
  methods: {
    handleAvatarScucess (res, file) {
      this.src = URL.createObjectURL(file.raw)
      console.debug(this.src)
      this.$emit('setImageUrl', res.path)
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      const isPNG = file.type === 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG && !isPNG) {
        this.$message.error('上传头像图片只能是 JPG 或 PNG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return (isJPG || isPNG) && isLt2M
    },
    handlePreview (file) {
      console.log('handle preview', file)
    },
    handleError (err, file, fileList) {
      console.debug(decodeURIComponent(err))
    }
  },
  watch: {
    imageUrl (newVal, oldVal) {
      this.src = newVal
    }
  }
}
</script>
