<template>
  <el-form ref="form" :model="form" label-width="80px">
    <el-form-item label="标题">
      <el-input v-model="form.title"></el-input>
    </el-form-item>
    <el-form-item label="类型">
      <el-radio-group v-model="form.resource" @change="change">
        <el-radio label="图文"></el-radio>
        <el-radio label="动画"></el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="描述" prop="content" v-show="show">
      <div id="div1" style="height: 400px;"></div>
    </el-form-item>
    <el-form-item v-show="!show">
      <el-upload
        class="upload-demo"
        ref="upload"
        action="https://jsonplaceholder.typicode.com/posts/"
        accept="aplication/zip"
        :on-preview="handlePreview"
        :on-remove="handleRemove"
        :file-list="fileList"
        :auto-upload="false">
        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
        <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
      </el-upload>
    </el-form-item>
    <el-form-item label="车型">
      <el-input v-model="form.cartype" disabled=""></el-input>
    </el-form-item>
    <el-form-item label="地址">
      <el-input v-model="form.address" disabled=""></el-input>
    </el-form-item>
    <el-form-item label="备注">
      <el-input type="textarea" v-model="form.note"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">立即创建</el-button>
      <el-button>取消</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
  import UploadImage from '@/components/UploadImage'
  import WangEditor from 'wangeditor'
  import config from '@/api/config'
  import api from '@/api'

  export default {
    data () {
      return {
        form: {
          title: '',
          resource: '图文',
          cartype: '',
          address: '',
          desc: '',
          note: ''
        },
        fileList: [{
          name: 'food.jpeg',
          url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
        },
        {name: 'food2.jpeg',
          url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
        }],
        show: true
      }
    },
    components: {
      UploadImage
    },
    methods: {
      change () {
        this.show = !this.show
      },
      submitUpload () {
        this.$refs.upload.submit()
      },
      handleRemove (file, fileList) {
        console.log(file, fileList)
      },
      handlePreview (file) {
        console.log(file)
      },
      onSubmit () {
        console.log('submit!')
      },
      initEditor () {
        let that = this
        const editor = new WangEditor('div1')
        // 上传图片（举例）
        editor.config.uploadImgUrl = config.url + '/files'

        editor.config.uploadImgFileName = 'file'

        // 配置自定义参数（举例）
        editor.config.uploadParams = {}

        // 设置 headers（举例）
        editor.config.uploadHeaders = {
          Authorization: window.sessionStorage.token
        }

        editor.config.withCredentials = false

        // 隐藏掉插入网络图片功能。该配置，只有在你正确配置了图片上传功能之后才可用。
        // editor.config.hideLinkImg = true

        editor.create()

        if (this.$route.path === '/hospital/' + this.$route.params.id + '/edit') {
          editor.$txt.html(this.form.content)
        }

        editor.onchange = function () {
          // 编辑区域内容变化时，实时打印出当前内容
          console.log(this.$txt.html())
          that.form.content = this.$txt.html()
        }
      }
    },
    mounted () {
      if (this.$route.path === '/hospital/' + this.$route.params.id + '/edit') {
        console.debug('编辑页面')
        api.getHospitalsDetail({id: this.$route.params.id}).then(
          data => {
            this.form = {
              ...data,
              examineTs: !!data.examineTs,
              examineWtfm: !!data.examineWtfm,
              examineYscc: !!data.examineYscc,
              examineDna: !!data.examineDna,
              examineFmdl: !!data.examineFmdl,
              buildArchiveProcess: data.buildArchiveProcess || []
            }
            this.img = data.img
            this.initEditor()
          }
        )
      } else {
        console.debug('添加页面')
        this.initEditor()
      }
    }
  }
</script>
<style>
  .layui-upload-list img {
    width: 100px;
    margin-right: 10px;
  }
  .wangEditor-container .wangEditor-txt span {
    border-left: 0px solid #d0e5f2;
    display: flex;
    line-height: 1.4;
    font-size: 100%;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .wangEditor-container .wangEditor-txt .inside {
    padding: 5px 40px 5px 40px;
    display: initial;
    background-color: #59c3d3;
  }
</style>


