<template>
  <div class="childrenBody">
    <div class="x-nav">
          <span class="layui-breadcrumb" style="visibility: visible;">
              <a><cite>首页</cite><span class="layui-box">&gt;</span></a>
              <a><cite>资源库</cite><span class="layui-box">&gt;</span></a>
              <a><cite>资源列表</cite></a>
          </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
    <blockquote class="layui-elem-quote news_search">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
        </div>
        <a class="layui-btn search_btn">查询</a>
      </div>
      <div class="layui-inline">
        <router-link class="layui-btn layui-btn-normal newsAdd_btn" :to="{ path: 'resource/add' }" >添加</router-link>
      </div>
      <div class="layui-inline">
        <div class="layui-form-mid layui-word-aux">tips</div>
      </div>
    </blockquote>
    <div class="layui-form news_list">
      <table class="layui-table">
        <colgroup>
          <col width="1%">
          <col width="20%">
          <col width="9%">
          <col width="9%">
          <col width="9%">
          <col width="15%">
        </colgroup>
        <thead>
        <tr>
          <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe626;</i></div></th>
          <th style="text-align:left;">标题</th>
          <th>类型</th>
          <th>备注</th>
          <th>修改时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody class="news_content">
        <tr>
            <td>
              <input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose">
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                <i class="layui-icon"></i>
              </div>
            </td>
            <td align="left">css3用transition实现边框动画效果</td>
            <td>图文</td>
            <td>开放浏览2</td>
            <td>2017-04-14</td>
          <td>
            <a class="layui-btn layui-btn-mini news_edit">
              <i class="layui-icon"></i>
            </a>
            <a class="layui-btn layui-btn-danger layui-btn-mini news_del" @click="open4('1')"  data-id="1">
              <i class="layui-icon"></i>
            </a>
            <a class="layui-btn layui-btn-warm layui-btn-mini" onclick="donation()">
              <i class="layui-icon"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose">
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
              <i class="layui-icon"></i>
            </div>
          </td>
          <td align="left">自定义的模块名称可以包含/吗</td>
          <td>图文</td>
          <td>开放浏览1000</td>
          <td>2017-04-14</td>
          <td>
            <a class="layui-btn layui-btn-mini news_edit">
              <i class="layui-icon"></i>
            </a>
            <a class="layui-btn layui-btn-danger layui-btn-mini news_del" @click="open4('2')"  data-id="2">
              <i class="layui-icon"></i>
            </a>
            <a class="layui-btn layui-btn-warm layui-btn-mini" onclick="donation()">
              <i class="layui-icon"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage3"
        :page-size="100"
        layout="prev, pager, next, jumper"
        :total="1000">
      </el-pagination>
      <!--<el-button type="text" @click="open4">点击打开 Message Box</el-button>-->
  </div>
</div>

</template>
<script>
  export default {
    data () {
      return {
        currentPage3: 5
      }
    },
    methods: {
      open4 (id) {
        const h = this.$createElement
        this.$msgbox({
          title: '消息',
          message: h('p', null, [
            h('span', null, '确认要删除 '),
            h('i', { style: 'color: teal' }, id)
          ]),
          showCancelButton: true,
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          beforeClose: (action, instance, done) => {
            if (action === 'confirm') {
              instance.confirmButtonLoading = true
              instance.confirmButtonText = '执行中...'
              setTimeout(() => {
                done()
                setTimeout(() => {
                  instance.confirmButtonLoading = false
                }, 300)
              }, 3000)
            } else {
              done()
            }
          }
        }).then(action => {
          var msg = ''
          if (action === 'confirm') {
            msg = '成功'
          } else {
            msg = '失败'
          }
          this.$message({
            type: 'info',
            message: '删除' + msg
          })
        })
      },
      handleSizeChange (val) {
        console.log(`每页 ${val} 条`)
      },
      handleCurrentChange (val) {
        console.log(`当前页: ${val}`)
      }
    }
  }
</script>
<style>

</style>
