<template>
  <div>
    <nav-header>会员信息</nav-header>
    <el-row class="wrapper">
      <el-row v-for="(item, key) in detail" :key="key">
        <el-col :span="6">{{key | translateTitle}}</el-col>
        <el-col :span="10">
          <template v-if="key === 'headImg'">
            <img :src="item" :alt="key">
          </template>
          <template v-else-if="key === 'stage'">
            {{item | stageFilter}}
          </template>
          <template v-else-if="key === 'sex'">
            {{item ? '男' : '女'}}
          </template>
          <template v-else>
            {{item}}
          </template>
        </el-col>
      </el-row>
    </el-row>
  </div>
</template>
<script>
import NavHeader from '@/components/NavHeader'
import { mapGetters } from 'vuex'
import filter from '@/filter'
import api from '@/api'

export default {
  name: '',
  components: {
    NavHeader
  },
  computed: {
    ...mapGetters([
      'user'
    ])
  },
  data () {
    return {
      detail: null
    }
  },
  filters: {
    translateTitle: filter.translateTitle.user,
    stageFilter (val) {
      switch (val) {
        case 1:
          return '备孕'
        case 2:
          return '怀孕'
        case 3:
          return '育儿'
      }
    }
  },
  created () {
    api.getUsersDetail({
      id: this.$route.params.id
    }).then(data => {
      this.detail = data
    })
  }
}
</script>
<style scoped lang="less">
.wrapper {
  padding: 10px 0;
  .el-row {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    .el-col {

    }
  }
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}

.box-card {
  width: 50%;
}

.box-card .el-row:not(:last-child) {
  margin-bottom: 10px;
}

h4 {
  font-weight: bold;
}

.headImg {
  width: 100px;
  height: 100px;
}

.headImg img {
  width: 100%;
  height: 100%;
}
</style>
