<template>
  <div>
    <nav-header>用户列表</nav-header>
    <div class="wrapper">
      <table-list></table-list>
    </div>
  </div>
</template>
<script>
import NavHeader from '@/components/NavHeader'
import TableList from './TableList'

export default {
  name: '',
  components: {
    NavHeader,
    TableList
  }
}
</script>
<style>

</style>
