<template>
  <div>
    <el-row class="sort-wrap">
      <el-col :span="24">
        <!-- 根据某字段排序按钮 -->
        <el-button-group>
          <sort-button @click="handleSortBy('state')" sort="stage" :module="user">孕期阶段</sort-button>
          <sort-button @click="handleSortBy('sex')" sort="sex" :module="user">性别</sort-button>
        </el-button-group>
        <!-- <el-button size="small" @click="handleExport" style="float: right">导出所有用户数据</el-button> -->
      </el-col>
    </el-row>
    <el-row class="sort-wrap">

    </el-row>
    <el-table
      :data="user.list"
      height="470"
      style="width: 100%"
      stripe
      v-loading="loading"
      element-loading-text="拼命加载中">
      <el-table-column prop="id" label="id" align="center" width="80">
      </el-table-column>
      <el-table-column prop="head_img" label="微信头像" align="center" width="100">
      </el-table-column>
      <el-table-column prop="nickname" label="昵称" width="">
      </el-table-column>
      <el-table-column prop="sex" label="性别" align="center" width="80">
        <template scope="scope">
          {{scope.row.sex | formatSex}}
        </template>
      </el-table-column>
      <el-table-column prop="phone" label="手机号" align="center" width="120">
      </el-table-column>
      <el-table-column prop="stage" label="孕期阶段" align="center" width="100">
        <template scope="scope">
          {{scope.row.stage | formatStage}}
        </template>
      </el-table-column>
      <el-table-column prop="city" label="城市" align="center" width="100">
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="140">
        <template scope="scope">
          <el-button type="text" size="small" @click="handleClick(scope.row)">查看详情</el-button>
          <el-button type="text" size="small" @click="handleDel(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="user.currentPage"
      :page-size="user.pageSize"
      layout="total, prev, pager, next"
      :total="user.total">
    </el-pagination>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import api from '@/api'
import SortButton from '@/components/SortButton'

export default {
  name: '',
  components: {
    SortButton
  },
  computed: {
    ...mapGetters([
      'user'
    ])
  },
  data () {
    return {
      loading: false
    }
  },
  filters: {
    formatSex (val) {
      return val ? '男' : '女'
    },
    formatStage (val) {
      switch (val) {
        case 1:
          return '备孕'
        case 2:
          return '怀孕'
        case 3:
          return '育儿'
      }
    }
  },
  methods: {
    ...mapActions([
      'setUser',
      'setUserCurrentPage',
      'setUserPageSize',
      'setUserSortField',
      'toggleUserSortMethod',
      'setUserDetail'
    ]),
    handleClick (row) {
      console.debug('handle click', row)
      // this.setUserDetail(row)
      this.$router.push({path: '/user/' + row.account})
    },
    handleDel (row) {
      console.debug('handle delete', row)
      this.$confirm('是否确认进行删除操作?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        api.delUsers({id: row.account}).then(() => {
          this.getUserList()
          alert('删除用户成功')
        })
        // this.$message({
        //   type: 'success',
        //   message: '删除成功!'
        // });
      }).catch(() => {
        // this.$message({
        //   type: 'info',
        //   message: '已取消删除'
        // });
      })
    },
    handleSizeChange (val) {
      console.log(`每页 ${val} 条`)
      this.setUserPageSize(val)
      this.getUserList()
    },
    handleCurrentChange (val) {
      console.log(`当前页: ${val}`)
      this.setUserCurrentPage(val)
      this.getUserList()
    },
    handleSortBy (sortField) {
      if (this.user.sortField === sortField) {
        this.toggleUserSortMethod()
      } else {
        this.setUserSortField(sortField)
        this.toggleUserSortMethod('DESC')
      }
      this.getUserList()
    },
    getUserList () {
      this.loading = true
      api.getUsers({
        page: this.user.currentPage,
        pageSize: this.user.pageSize,
        sortField: this.user.sortField,
        sortMethod: this.user.sortMethod,
        filter: {

        }
      }).then(data => {
        console.log('获取用户列表成功')
        this.setUser(data)
        this.loading = false
      })
    }
  },
  created () {
    this.getUserList()
  }
}
</script>
<style scoped>
.el-pagination {
  margin: 10px 0;
}

.sort-wrap {
  margin: 10px 0;
}
</style>
